* {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5rem;
}

#welcome-section {
	background: url("images/IMG.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	padding: 2rem;
	text-align: left;
	color: #fff;
}
#welcome-section p {
	margin-left: 4rem;
}
#welcome-section p span {
	font-family: 'Pompiere', cursive;
	font-size: 3rem;
	animation: dance 3s;
	transition: ease-in;
	color: #ffd54f;
}
@keyframes dance {
	50% {
		letter-spacing: 10px;
	}
}
#toggle {
	font-size: 2rem;
	cursor: pointer;
	left: 10px;
	top: 10px;
	position: sticky;
}
h1 {
	padding: 1rem;
}
#mobile {
	visibility: hidden;
}
.media {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 100px;
}
.media li {
	list-style: none;
}
.media li a {
	position: relative;
	display: grid;
	place-items: center;
	width: 50px;
	height: 50px;
	text-decoration: none;
	border: #fff solid 1px;
	margin: 10px 0 0;
}
.media li a:hover {
	background: #0277bd;
}
.media li img {
	max-width: 20px;
	filter: invert(1);
	mix-blend-mode: difference;
}
.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: hsla(199, 18%, 33%, 0.9);
	overflow-y: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 4rem;
}

.overlay a {
	margin: 0 1rem;
	text-decoration: none;
	font-size: 2rem;
	color: #fff;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: #ff5722;
	font-size: 3rem;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}
@media (max-width: 880px) {
	.overlay-content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.overlay a {
		margin: .5rem auto;
	}
	#know,
	#github {
		visibility: hidden;
	}
}

@media (max-width: 880px) {
	.overlay a {
		font-size: 20px;
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
@media (max-width: 880px) {
	.media {
		position: absolute;
		bottom: 50px;
		right: initial;
		flex-direction: row;
	}
}
#projects {
	height: 90vh;
	background: url("images/wood.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-position: left;
	background-repeat: repeat;
	padding: 2rem;
	color: #000;
	text-align: center;
}
.project-tile {
	width: 20%;
	border: #ddd solid 6px;
	background-color: #ddd;
}
.project-tile a {
	text-decoration: none;
}

.project-tile a img {
	width: 100%;
}
.project-tile a img:hover {
	animation: shake 0.5s;
	animation-iteration-count: 1;
}
@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(2px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

footer {
	background-color: #ddd;
	text-align: center;
	padding: 1rem 0;
	line-height: 1rem;
}
@media (max-width: 880px) {
	#projects {
		flex-direction: column;
		height: auto;
	}
	.project-tile {
		width: 100%;
		margin-top: 1rem;
	}
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 160px;
	background-color: hsla(199, 18%, 33%, 0.9);
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 50%;
	right: 100%;
	margin-left: -60%;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: 68px;
	border-width: 5px;
	border-style: solid;
	border-color: hsla(199, 18%, 33%, 0.9) transparent transparent transparent;
}
@media (max-width: 880px) {
	.tooltip:hover .tooltiptext {
		visibility: hidden;
	}
}
